.output {
  padding: 10px;
  border: 1px solid #dedede;
  margin: 10px 40px;
  min-height: 59px;

  &__text {
    font-family: "consolas";
    display: inline;
    font-size: 30px;
  }

  &__cursor {
    font-size: 30px;
    animation: blink-animation 1s steps(5, start) infinite;
    position: relative;
    right: 5px;
    bottom: 2px;
    opacity: 0;

    &--focus{
        opacity: 1;
    }
  }
}
