.rotors {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.rotor {
  border: 1px solid #dedede;
  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &__title {
    display: block;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }

  &__inner {
    padding: 10px;
  }
}
